.backgr {
  background-image: url("imgdar/backimg.png"),
  url("imgdar/backgrad.png");
  background-repeat: repeat-x,
   repeat-x;
  background-color: #f3d2ea;
  min-width: 750px;
  }
.header {
  width: auto;
  height:65px;
  margin-top: 170px;
  text-align: center;
  }
