A {
  color: #3867ad;
  cursor: pointer;
  text-decoration: none;
 }
a:focus{
outline: solid blue;
}

a:active{
border-color:blue;
border-radius: 2px;
background: LightCyan;
color: black;
}
img {
  max-width: 100%;
  height: auto;
}
body {
max-width: 1150px;
min-width: 700px;
background: #e5e6dc url("img/Grad2.png");
background-repeat: repeat-x;
}
article{
  text-align: center;
}
h1,
h2,
h3 {
  text-align: center;
}
em, span{
background-color: white;
}
body div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
 display: inline-block; /* Строчно-блочный элемент */
 width: 70%;
 background: #3867ad; /* Серый цвет фона */
 color: #fff; /* Белый цвет текста */
 padding: 1rem; /* Поля вокруг текста */
 font-size: 1.5rem;
 text-decoration: none; /* Убираем подчёркивание */
 border-radius: 6px; /* Скругляем уголки */
 margin-top: 3px
}
.btn1 {
display: inline-block; /* Строчно-блочный элемент */
background: #000; /* Серый цвет фона */
color: #fff; /* Белый цвет текста */
padding: 1rem 1.5rem; /* Поля вокруг текста */
font-size: 1.5rem;
text-decoration: none; /* Убираем подчёркивание */
border-radius: 6px; /* Скругляем уголки */
margin-top: 1px
}
.btn2 {
display: inline-block; /* Строчно-блочный элемент */
background: #000; /* Серый цвет фона */
color: #fff; /* Белый цвет текста */
padding: 1rem 1rem /* Поля вокруг текста */
font-size: 1.5rem;
text-decoration: none; /* Убираем подчёркивание */
border-radius: 6px; /* Скругляем уголки */
margin-top: 1px
}
.btn:hover,
.btn2:hover{
    background: #81d4ff;
    color: #000;
    }

figure {
border: 0 solid #ccc; /* рамка */
padding: 0px; /* отступы от картинки */
width: auto; /* ширина картинки */
}
figcaption {
text-align: center; /* подпись по центру*/
}

.wrap{
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.header{
text-align: center;
}
.header, .footer{
width: 100%;
height: 80px;
}
.anyContainer {
  flex: 0 0 270px;
}
.nav {
    padding: 15px;
    margin: auto;
    position: fixed;
}
.container{
        flex-grow: 0;
    }
.my-block {
      display:  block;
      overflow: hidden;
       margin-left: 20px;
    }

.footer{
height: 130px;
width: 100%;
background: -webkit-linear-gradient(bottom, #887265, #e5e6dc);
background: -o-linear-gradient(bottom, #887265, #e5e6dc);
background: linear-gradient(to top, #887265, #e5e6dc);
}
/*#figure-hover{
display: inline-block;
font-size: 18px;
color: #222;
margin-bottom: 40px;
margin-top: -10px;
transition: 0.8s;
}
#figure-hover img{
box-shadow: 2px 2px 6px 0px #000;
margin-bottom: 0px;
}
#figure-hover figcaption {
opacity: 0.4;
text-align: center;
transition: 0.6s;
}
#figure-hover:hover {
transform:scale(1.05);
}
#figure-hover:hover figcaption{
opacity : 1;
border: 2px dotted black;
}*/
ul {
margin-left: 10px; /* Отступ слева в браузере IE и Opera */
padding-left: 10px; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
li {
  list-style-type: none; /* Убираем маркеры */
 }
table {
  width: 30%;
  border-spacing:15px;
  background-color: #e5e6dc;
   }
  th, td {
  padding: 15px;
}
.layer{
margin-bottom: 40px;
transition: 0.6s;
}
.bottom{
  margin-left: -0.5rem;
  margin-bottom: -10px;
}
.layer:hover {
transform:scale(1.10);
}
@media (min-width: 680px), (orientation: portrait) {
  .site {
    display: flex;
    flex-direction: column;
  }
}
.flexcol {
  display: flex;
  flex-direction: column;
  }
.flex2 {
  display: flex;
  justify-content: space-between;
  height: auto;
  outline: 1px solid #000;
  background: #f0f0f0;
  padding: 10px;
}
.menu {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-size: 1.5rem;
}
.login {
  font-size: 1.5rem;
  }
