.container-calc {
  width: 300px;
  height: 600px;
  margin: 0
    auto;
  background-color: rgb(
    113,
    132,
    153,
    0.5
  );
  top: 40px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0
      4px
      8px
      0
      rgba(
        0,
        0,
        0,
        0.5
      ),
    0 6px
      20px
      0
      rgba(
        0,
        0,
        0,
        0.5
      );
}

.body__no-scroll {
  font-family: 'Open Sans',
    sans-serif;
  background-color: rgb(
    87,
    109,
    119
  );
}
.bckgrnd-image {
  height: 704px;
  width: 1056;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  background-image: linear-gradient(
      rgba(
        0,
        0,
        0,
        0.5
      ),
      rgba(
        0,
        0,
        0,
        0.5
      )
    ),
    url(./src/bcgr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.number,
.operator,
.empty {
  width: 3rem;
  height: 3rem;

  margin: 12px;
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  float: left;
  border-radius: 50%;
  border-width: 0;
  cursor: pointer;
}
.operator {
  background: rgba(
    70,
    130,
    151,
    0.6
  );
}
.number {
  background: rgba(
    126,
    174,
    236,
    0.6
  );
}
button,
button:active,
button:focus {
  outline: none !important;
}
button:active {
  background: steelblue;
  font-size: 1rem;
  font-weight: bold;
}
.result {
  height: 100px;
  padding-bottom: 20px;
}
.keyboard {
  height: 420px;
}
.empty {
  visibility: hidden;
}
.history {
  text-align: right;
  height: 20px;
  margin: 0
    20px;
  font-size: 1.5rem;
  color: rgb(
    77,
    75,
    75
  );
}
.output {
  text-align: right;
  height: 60px;
  margin: 10px
    20px;
  font-size: 2.5rem;
  padding-bottom: 20px;
}
.title {
  text-align: center;
  padding: 10px;
}
